<app-title [title]="'Tailwind Elements'" />
<div class="container m-8">
    <section>
        <div class="py-1">
            <span>Ejemplo de un boton</span>
        </div>
        <div class="mb-5">
            <button class="bg-blue-700 px-8 rounded text-red-400">Boton</button>
        </div>
        <hr/>
        <div class="text-orange-400 py-1">
            <span >Ejemplo de un textos</span>
        </div>
        <div>
            <p class="text-sm">Texto SM</p>
            <p class="text--base">Texto Base</p>
            <p class="text-lg">Texto LG</p>
            <p class="text-xl">Texto XL</p>
            <p class="text-2xl">Texto 2XL</p>

            <p class="font-thin">Texto delgado</p>
            <p class="font-normal">Texto Normal</p>
            <p class="font-bold">Texto Extra</p>
            <p class="font-extrabold">Texto Extrabold</p>
            <p class="italic">Texto cursivo</p>
            <p class="not-italic">Texto no cursivo</p>

            <p class="text-left">Alinear</p>
            <p class="text-center">Alinear</p>
            <p class="text-right">Alinear</p>
            <p class="text-justify">Alinear</p>

            <p class="text-justify">Alinear</p>
        </div>
        
    </section>
</div>
