<app-title [title]="'Tailwind Elements'" />
<div class="container m-8">
    <section>
        <div class="py-1">
            <span>Ejemplo de un boton</span>
        </div>
        <div class="mb-5">
            <button class="bg-blue-700 px-8 rounded text-red-400">Boton</button>
        </div>
        <hr/>
        <div class="text-orange-400 py-1">
            <span >Ejemplo de un textos</span>
        </div>
        <div>
            <p class="text-sm">Texto SM</p>
            <p class="text--base">Texto Base</p>
            <p class="text-lg">Texto LG</p>
            <p class="text-xl">Texto XL</p>
            <p class="text-2xl">Texto 2XL</p>

            <p class="font-thin">Texto delgado</p>
            <p class="font-normal">Texto Normal</p>
            <p class="font-bold">Texto Extra</p>
            <p class="font-extrabold">Texto Extrabold</p>
            <p class="italic">Texto cursivo</p>
            <p class="not-italic">Texto no cursivo</p>

            <p class="text-left">Alinear</p>
            <p class="text-center">Alinear</p>
            <p class="text-right">Alinear</p>
            <p class="text-justify">Alinear</p>

            <p class="tracking-wide">Espaciado</p>
            <p class="tracking-tighter">Alinear</p>
            <p class="tracking-none">Alinear</p>
            <p class="tracking-loose">Alinear</p>
            <br>
            <p class="text-red-500">Rojo</p>
            <p class="text-pink-500">Rosado</p>
            <p class="text-blue-500">Azul</p>
            <br>
            <p class="text-red-500 tracking-wid italic font-extrabold text-2xl">Combinado</p>
            <br>
            <hr>
            <div class="m-4 p-6 bg-blue-300">
                <h1>Caja con margen y padding</h1>
            </div>
            <div class="mt-4 mb-6 ml-2 mr-10 bg-blue-300">
                <h1>Caja con margen y padding 4 arriba 6 abajo 10 derecha 2 izquierda</h1>
            </div>
            <div class="border-4 border-red-500 m-4 p-6 bg-blue-300">
                <h1>Caja con margen y padding y bordes</h1>
            </div>

            <div class="border-4 rounded border-red-300 m-4 p-5 bg-blue-500">
                <h1>Caja con margen y padding y bordes y redondeado</h1>
            </div>
            <div class="border-2 rounded-xl border-red-700 m-4 p-5 bg-slate-500">
                <h1>Caja con margen y padding y bordes redondeado alto</h1>
            </div>
             <div class="border-2 rounded-xl shadow-2xl border-red-700 m-4 p-5 bg-slate-500">
                <h1>Caja con margen y padding y bordes redondeado con sombra</h1>
            </div>
            <br>
            <hr>
            <p class="text-gray-500 tracking-wid italic font-extrabold text-2xl">Colores</p>
            <br>
            <p class="text-blue-500">Texto Azul</p>
            <p class="text-pink-500">Texto rosado</p>
            <div class="bg-green-300 p-5">
                <p>Texto</p>
            </div>
            <div class="m-8 bg-gradient-to-r from-blue-500 p-5">
                <p>Gradientes</p>
            </div>
             <div class="m-8 bg-gradient-to-r from-blue-500 to-green-500 p-5">
                <p>Gradientes con cambio de color</p>
            </div>
            <div class="m-8 bg-gradient-to-r from-blue-500 via-green-500 p-5">
                <p>Gradientes con cambio va hasta verde</p>
            </div>
             <div class="m-8 bg-gradient-to-r from-blue-500 via-green-500 to-red-500 p-5">
                <p>Gradientes con cambio va hasta verde con cambio a rojo</p>
            </div>
        </div>
        
    </section>
</div>
